spring:
  config:
    import:
      - submodule/reliable-kku-server-submodule/application-db-prod.yaml
    activate:
      on-profile: prod
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  sql.init.mode: always
