spring:
  config:
    import:
      - submodule/reliable-kku-server-submodule/application-db-dev.yaml
    activate:
      on-profile: dev
  jpa:
    generate-ddl: true
    show-sql: false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
